Checks: '
    bugprone-*,
    clang-diagnostic-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -bugprone-easily-swappable-parameters
    -cppcoreguidelines-avoid-magic-numbers,readability-magic-numbers,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-special-member-functions,
    -modernize-use-nullptr,
    -readability-convert-member-functions-to-static,
    -readability-magic-numbers,
    -readability-redundant-access-specifiers,
'
WarningsAsErrors: 'true'
FormatStyle: 'file'
