Checks: '
    bugprone-*,
    clang-diagnostic-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -modernize-use-nullptr,
    -readability-convert-member-functions-to-static,
    -readability-redundant-access-specifiers
'
WarningsAsErrors: 'true'
FormatStyle: 'file'
